:root {
	--primary: #b83f45;
	--text: #4d4d4d;
	--text-light: #949494;
	--bg: #f5f5f5;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: var(--bg);
	color: var(--text);
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}

h1 {
	width: 100%;
	font-size: 80px;
	font-weight: 200;
	text-align: center;
	color: rgba(175, 47, 47, 0.3);
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
}